## Python virtual environment
.venv/

# Python bytecode cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

## Build files
build/
dist/
*.spec

## IDE related files
.vscode/
.idea/
cline.gbnf

## Experimental files
*.test.py
!archive/*.test.py